	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="author" content="{{ .Site.Params.author }}">
	<meta name="keywords" content="{{ .Site.Params.keywords }}">
	<link href="assets/images/favicon.ico" id="favicon" rel="shortcut icon" type="image/x-icon">
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/dblp-2015-02-06.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap-table.css" rel="stylesheet" type="text/css">
	<link href="assets/css/jquery.timeline.min.css" rel="stylesheet" type="text/css">
