	<div class="hideable" id="highlight">
		<header class="hide-head nowrap">
			<h2>{{ .Site.Params.highlight.title }}</h2>
		</header>
		<div class="hide-body">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>{{ .Site.Params.highlight.confname }}</th>
						<th>{{ .Site.Params.highlight.when }}</th>
						<th>{{ .Site.Params.highlight.absddl }}</th>
						<th>{{ .Site.Params.highlight.submddl }}</th>
						<th>{{ .Site.Params.highlight.notidue }}</th>
						<th>{{ .Site.Params.highlight.final }}</th>
						<th>{{ .Site.Params.highlight.countdown }}</th>
					</tr>
				</thead>
				<tbody>
{{- range $p := .Site.Params.highlight.list -}}
{{ with .enable }}
					<tr style="background-color:YellowGreen">
						<th scope="row">
							<a href="{{ $p.confsite }}" target="_blank">{{ $p.confname }}</a>
						</th>
						<td>{{ $p.when | markdownify }}</td>
						<td>{{ $p.absddl | markdownify }}</td>
						<td>{{ $p.submddl | markdownify }}</td>
						<td>{{ $p.notidue | markdownify }}</td>
						<td>{{ $p.final | markdownify }}</td>
						<td>
							<div id="countdown"></div>
						</td>
					</tr>
{{- end -}}
{{- end }}
				</tbody>
			</table>
		</div>
	</div>
