	<div class="hideable" id="past">
		<header class="hide-head nowrap">
			<h2>{{ .Site.Params.past.title }}</h2>
		</header>
		<div class="hide-body">
			<div class="table-responsive">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th>{{ .Site.Params.past.name }}</th>
							<th>{{ .Site.Params.past.rank }}</th>
							<th>{{ .Site.Params.past.absddl }}</th>
							<th>{{ .Site.Params.past.submddl }}</th>
							<th>{{ .Site.Params.past.notidue }}</th>
							<th>{{ .Site.Params.past.when }}</th>
							<th>{{ .Site.Params.past.countdown }}</th>
						</tr>
					</thead>
					<tbody>
{{- range $p := sort .Site.Params.cfp.list "close" "desc" -}}
{{ if and ((time $p.close).Before now ) (eq .enable 1) }}
						<tr class="item" style="background-color:white">
							<th scope="row">
								<a href="{{ $p.site }}" target="_blank">{{ $p.name }} {{ (time $p.open).Year }}</a>
							</th>
							<td>{{ $p.rank | markdownify }}</td>
							<td>{{ if ne $p.absddl "N/A" }}{{ dateFormat "Jan 2, 2006" $p.absddl}}{{ else }}{{ $p.absddl }}{{ end }}</td>
							<td>{{ if ne $p.submddl "TBA" }}{{ dateFormat "Jan 2, 2006" $p.submddl}}{{ else }}{{ $p.submddl }}{{ end }}</td>
							<td>{{ if ne $p.notidue "TBA" }}{{ dateFormat "Jan 2, 2006" $p.notidue}}{{ else }}{{ $p.notidue }}{{ end }}</td>
							<td>{{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}</td>
							<td>
								Ended
							</td>
						</tr>
{{ else }}
{{- end -}}
{{- end }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
