	<script src="assets/js/dblp-2015-02-11.min.js">
	</script>
	<script src="assets/js/dblp-ui-2014-06-16.min.js">
	</script>
	<script src="assets/js/jquery.countdown.min.js">
	</script>
	<script src="assets/js/moment.min.js">
	</script>
	<script src="assets/js/moment-timezone-with-data-2012-2022.min.js">
	</script>
	<script>
	var deadline = moment.tz("{{ range .Site.Params.highlight.list }}{{ .countdown }}{{ end }}", "Asia/Hong_Kong");
	$('#countdown').countdown(deadline.toDate(), function(event) {
			$(this).html(event.strftime('%D days %H:%M:%S'));
			});

	$('[data-countdown]').each(function() {
			var $this = $(this),
			finalDate = $(this).data('countdown');
			$this.countdown(finalDate, function(event) {
				$this.html(event.strftime('%D days'));
				});
			});
	</script>
