	<div id="my-timeline">
	    <ul class="timeline-events">
{{- range $p := .Site.Params.highlight.list -}}
{{ if (eq .enable 0) }}
{{- else }}
{{- if eq $p.absddl "N/A" }}
		<li data-timeline-node="{start:'{{ $p.submddl }} 00:00:00',end:'{{ $p.submddl }} 23:59:59',row:1,bgColor:'Wheat',color:'Black', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- else }}
		<li data-timeline-node="{start:'{{ $p.absddl }}',end:'{{ $p.submddl }}',row:1,bgColor:'Wheat',color:'Black', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- end }}
		<li data-timeline-node="{start:'{{ $p.open }}',end:'{{ $p.close }}',row:3,bgColor:'#e05f1a',color:'White', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- end -}}
{{- end -}}
{{- range $p := .Site.Params.cfp.list -}}
{{ if (eq .enable 0) }}
{{- else if ((time $p.submddl).After now )}}
{{- if eq $p.absddl "N/A" }}
		<li data-timeline-node="{start:'{{ $p.submddl }} 00:00:00',end:'{{ $p.submddl }} 23:59:59',row:1,bgColor:'Wheat',color:'Black', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- else }}
		<li data-timeline-node="{start:'{{ $p.absddl }}',end:'{{ $p.submddl }}',row:1,bgColor:'Wheat',color:'Black', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- end }}
		<li data-timeline-node="{start:'{{ $p.open }}',end:'{{ $p.close }}',row:3,bgColor:'#e05f1a',color:'White', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- end -}}
{{- end -}}
{{- range $p := .Site.Params.cfp.list -}}
{{ if (eq .enable 0) }}
{{- else if and ((time $p.submddl).Before now ) ((time $p.close).After now ) }}
		<li data-timeline-node="{start:'{{ $p.open }}',end:'{{ $p.close }}',row:2,bgColor:'#63bb55',color:'Black', extend:'{toggle:\'tooltip\'}'}"><strong class="event-label">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</strong><p class="event-content">CCF Rank: {{ $p.rank }}, When: {{ dateFormat "Jan 2" $p.open}}-{{ if ne (time $p.open).Month (time $p.close).Month }}{{ dateFormat "Jan" $p.close }} {{ end }}{{ dateFormat "2, 2006" $p.close }}, Abstract Deadline: {{  $p.absddl }}, Submission Deadline: {{  $p.submddl }}, Notification Due: {{  $p.notidue }}</p></li>
{{- end -}}
{{ end }}
	    </ul>
	</div>

	<div class="timeline-event-view"></div>
