	<div class="hideable" id="upcoming">
		<header class="hide-head nowrap">
			<h2>{{ .Site.Params.upcoming.title}}</h2>
		</header>
		<div class="hide-body">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>{{ .Site.Params.upcoming.name }}</th>
						<th>{{ .Site.Params.upcoming.rank }}</th>
						<th>{{ .Site.Params.upcoming.when }}</th>
						<th>{{ .Site.Params.upcoming.absddl }}</th>
						<th>{{ .Site.Params.upcoming.submddl }}</th>
						<th>{{ .Site.Params.upcoming.notidue }}</th>
						<th>{{ .Site.Params.upcoming.countdown }}</th>
					</tr>
				</thead>
				<tbody>
{{- range $p := .Site.Params.upcoming.list -}}
{{ if (eq .enable 1) }}
					<tr class="item" style="background-color:Wheat">
						<th scope="row">
							<a href="{{ $p.site }}" target="_blank">{{ $p.name }} {{ $.Site.Params.upcoming.nextyear }}</a>
						</th>
						<td>{{ $p.rank | markdownify }}</td>
						<td>{{ $p.when | markdownify }}</td>
						<td>{{ $p.absddl | markdownify }}</td>
						<td>{{ $p.submddl | markdownify }}</td>
						<td>{{ $p.notidue | markdownify }}</td>
						<td>
							<div data-countdown="{{ $p.countdownd }}"></div>
						</td>
					</tr>
{{ else if (eq .enable -1) }}
					<tr class="item" style="background-color:Wheat">
						<th scope="row">
							<a href="{{ $p.site }}" target="_blank">{{ $p.name }} {{ $.Site.Params.upcoming.year }}</a>
						</th>
						<td>{{ $p.rank | markdownify }}</td>
						<td>{{ $p.when | markdownify }}</td>
						<td>{{ $p.absddl | markdownify }}</td>
						<td>{{ $p.submddl | markdownify }}</td>
						<td>{{ $p.notidue | markdownify }}</td>
						<td>
							<div data-countdown="{{ $p.countdownd }}"></div>
						</td>
					</tr>
{{ else }}
{{- end -}}
{{- end }}
				</tbody>
			</table>
		</div>
	</div>
