        <div class="hideable" id="upcoming">
            <header class="hide-head nowrap">
                <h2>{{ .Site.Params.upcoming.title }}</h2>
            </header>
            <div class="hide-body">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>{{ .Site.Params.upcoming.confname }}</th>
                            <th>{{ .Site.Params.upcoming.when }}</th>
                            <th>{{ .Site.Params.upcoming.absddl }}</th>
                            <th>{{ .Site.Params.upcoming.submddl }}</th>
                            <th>{{ .Site.Params.upcoming.notidue }}</th>
                            <th>{{ .Site.Params.upcoming.countdown }}</th>
                        </tr>
                    </thead>
                    <tbody>
                      {{ range $p := .Site.Params.upcoming.list }}
                      {{ with .enable }}
                      <tr>
                          <th scope="row"> 
                              <a href="{{ $p.confsite }}" target="_blank">{{ $p.confname }}</a>
                          </th>
                          <td>{{ $p.when | markdownify }}</td> 
                          <td>{{ $p.absddl | markdownify }}</td> 
                          <td>{{ $p.submddl | markdownify }}</td> 
                          <td>{{ $p.notidue | markdownify }}</td>
                          <td>
                              <div data-countdown="{{ $p.countdown }}"></div>
                          </td>
                      </tr>
                      {{ end }}
                      {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
